
.selected-exercise {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  /* border-radius: 5px; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.workout-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap:2.4rem;
    /* justify-items: center; */
    /* align-items: center; */

    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    padding: 3rem;
    width: 100%;

}

.workout-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  
  .workout-form input,
  .workout-form select,
  .workout-form textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  /* TO-DO: fix code so that item do not create new row */
  /* TO-DO: can be made to a scrollable container */
  .selected-exercise{
    /* display: block; */
    /* grid-row: 2/2; */
    grid-row: -1;
    grid-column: 1/-1;
    /* align-self: left; */
    justify-self: left;

  } 

  .exercise-text{
    font-size: 1.2rem;
 }

 .add-exercise-container{
    justify-self: center;
    align-self: center;
 }