<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exercise.app.exerciseappserver.workout_session.WorkoutSessionMapper">

    <select id="getWorkoutExerciseId" resultType="java.lang.Long">
        SELECT id FROM workout_exercise
        WHERE workout_id = #{workoutId} AND exercise_id = #{exerciseId} AND sequence_no=#{sequenceNo}
    </select>

    <insert id="insertWorkoutSessionList" parameterType="java.util.List">
        INSERT INTO workout_session (workout_exercise_id, user_id,time_taken)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.workout_exercise_id}, #{item.user_id},#{item.time_taken})
        </foreach>
    </insert>

</mapper>






