<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exercise.app.exerciseappserver.workout.WorkoutMapper">

    <insert id="insertWorkout" parameterType="com.exercise.app.exerciseappserver.workout.WorkoutDao" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO workout (name, description) VALUES (#{name}, #{description})
    </insert>

    <insert id="insertWorkoutExercise" parameterType="com.exercise.app.exerciseappserver.workout.WorkoutExerciseDto">
        INSERT INTO workout_exercise (workout_id, exercise_id) VALUES (#{workoutId}, #{exerciseId})
    </insert>


    <select id="getWorkout" parameterType="java.lang.Long" resultType="com.exercise.app.exerciseappserver.workout.WorkoutDao">
        SELECT * FROM workout WHERE id = #{id}
    </select>



</mapper>






