.entry {
    padding-left: 9999px;
    padding-right: 9999px;
    margin-left: -9999px;
    margin-right: -9999px;
    display: flex;
    flex-direction: column;
  }

  .singleWorkout{
    display: flex;
    flex-direction: row;
    align-items:center;
  }

  .singleWorkout img{
    width: 100px;
    height: 100px;
    margin-left:350px;
  }

  a{
    style:no-underlien;
  }